.marked-container {
    color: #010101;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.marked-list {
    color: #010101;
}

.marked-heading {
    color: #010101;
}

.marked-listitem {
}

.marked-hr {
    color: #ccc;
    background-color: #ccc;
    border: 0.5px solid #cccc;
}

.marked-blockquote {
    color: #010101;
    background-color: #968b8b26;
    border-left: 4px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
